// Inter Font
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
@import "/src/Globals";

//==== Navigation ===
nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}
// ==================

// === Navbar Search ===
.Navbar-Search {
  ::placeholder {
    color: red;
  }
}
input {
  border: 3px solid #ffcc34;
  border-radius: 50px;
  width: 165px;
  height: 28px;
  @include PrimaryFont();
  font-weight: 400;
  font-size: 18px;
}
input[type="text"] {
  padding: 0 25px;
}

// ==================

//=== Navbar Class ===
.Navbar {
  position: relative;
  right: 40px;
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  li {
    padding: 0 20px;
    list-style: none;
    @include PrimaryFont();
  }
  a {
    font-weight: 700;
    color: $PrimaryColor;
    font-size: 20px;
    text-decoration: none;
  }
}
// ==================
