// Inter Font
@import "/src/Globals";
@import "/src/mixin";

//==== Navigation ===
nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}
// ==================

// === Navbar Search ===
.Navbar-Search {
  ::placeholder {
    color: red;
  }
}
input {
  border: 3px solid #ffcc34;
  border-radius: 50px;
  width: 165px;
  height: 28px;
  @include PrimaryFont();
  font-weight: 400;
  font-size: 18px;
}
input[type="text"] {
  padding: 0 25px;
}
#Navbar-Search {
}

// ==================

//=== Navbar Class ===
.Navbar_Menu {
  position: relative;
  right: 40px;
  // === Nav-Links ===
  ul .Nav-Links {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  li {
    padding: 0 20px;
    list-style: none;
    @include PrimaryFont();
  }
  a {
    font-weight: 700;
    color: $PrimaryColor;
    font-size: 20px;
    text-decoration: none;
  }
  // === Nav-Links-Mobile ===
  ul .Nav-Links-Mobile {
  }
}
// ==================

// === Mobile Navbar ===
.Mobile_Navigation {
  display: none;
  .Mobile_Navigation_Button {
    border: none;
    background: none;
    cursor: pointer;
  }
}
// ====================

@media (max-width: 768px) and (min-height: 1024px) {
  @include Responsive_768px();
}
