// Inter Font
@import "/src/Globals";
@import "/src/mixin";

//==== Navigation ===
nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  // ==================

  // === Navbar Logo ===
  .Navbar-Logo {
    @include Ipad-Mini {
      display: none;
    }
  }
  // ==================

  // === Navbar Search ===
  .Navbar-Search {
    ::placeholder {
      color: $PrimaryColor;
    }
    input {
      border: 3px solid $SecondaryColor;
      border-radius: 50px;
      width: 165px;
      height: 28px;
      @include PrimaryFont();
      font-weight: 400;
      font-size: 18px;
      @include Ipad-Mini {
        position: fixed;
        top: 2.4em;
        right: 15em;
        height: 40px;
      }
    }
    input[type="text"] {
      padding: 0 25px;
      ::placeholder {
        color: $PrimaryColor;
      }
    }
  }
  // ==================

  //=== Navbar Class ===
  .Navbar_Menu {
    position: relative;
    right: 40px;
    @include Ipad-Mini {
      position: relative;
      text-align: center;
      margin: auto;
    }
    // === Nav-Links-Mobile
    .Nav-Links-Mobile {
      @include Ipad-Mini {
        position: fixed;
        display: block;
        top: 6em;
        right: -3em;
        width: 55em;
        height: 110em;
        z-index: 100;
        background: white;
        transition: all 0.5s ease-in-out;
      }
    }
    // === Nav-Links ===
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      @include Ipad-Mini {
        display: none;
      }
    }
    li {
      padding: 0 20px;
      list-style: none;
      @include PrimaryFont();
      @include Ipad-Mini {
        padding: 0 25px;
        line-height: 8em;
      }
    }
    a {
      font-weight: 700;
      color: $PrimaryColor;
      font-size: 20px;
      text-decoration: none;
      @include Ipad-Mini {
        font-size: 25px;
      }
    }
    // === Nav-Links-Mobile ===
  }
  // ==================

  // === Mobile Navbar ===
  .Mobile_Navigation {
    display: none;
    @include Ipad-Mini {
      position: fixed;
      right: 45em;
      top: 0.2em;
      display: block;
    }
    .Mobile_Navigation_Button {
      border: none;
      background: none;
      cursor: pointer;
      @include Ipad-Mini {
        font-size: 32px;
      }
      svg {
        @include Ipad-Mini {
          position: absolute;
          bottom: -1.7em;
          left: 20em;
        }
      }
    }
  }
}
// ====================
