@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

$PrimaryColor: rgb(0, 0, 0);
$SecondColor: rgb(255, 204, 52);
$ThirdColor: rgb(229, 20, 0);
@mixin PrimaryFont {
  font-family: "Inter";
  font-style: normal;
}

@mixin NavbarAfter {
  &::after {
    content: "";
    position: absolute;
    bottom: -2px;
    right: 0;
    left: auto;
    width: 0%;
    height: 4px;
    z-index: 2;
    border-radius: 100px;
    transition: all 0.25s cubic-bezier(0.694, 0.048, 0.335, 1);
  }
  &:hover::after {
    left: 0;
    width: 100%;

    background-color: $SecondColor; // White Color
  }
}

// Hovering Animation
// Before Hover Animation
@mixin NavbarBefore {
  &::before {
    content: "";
    position: absolute;
    bottom: -2px;
    right: 0;
    left: auto;
    width: 0;
    height: 4px;
    z-index: 2;
    border-radius: 100px;
    transition: all 0.25s cubic-bezier(0.694, 0.048, 0.335, 1) 0.25s;
  }
  // Animation of After Hover Animation
  &:hover::before {
    right: 0;
    left: 0;
    width: 100%;
    background-color: $ThirdColor; // Violet Color
  }
}
