@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

head {
  font-family: "Inter";
  font-style: normal;
}
body {
  font-family: "Inter";
  font-style: normal;
  padding: 0;
  margin: 0;
}
nav {
  font-family: "Inter";
  font-style: normal;
}
button {
  font-family: "Inter";
  font-style: normal;
}
.Button {
  font-family: "Inter";
  font-style: normal;
}

textarea {
  font-family: "Inter";
  font-style: normal;
}

input {
  font-family: "Inter";
  font-style: normal;
}
